.contenedor{
    position: absolute;
    left:0;
    top:0;
    height: auto;
    width: 100%;
    padding:0;
}
*{
    font-family: Helvetica;
    font-size: 16pt;
    color:rgb(1, 21, 87);
}
h1{
    text-align: Center;
    font-size: 24pt;
}
h2{
    text-align: Center;
    font-size: 20pt;
}

.boton{
    align-self: center;
    background-color: rgb(144, 250, 215);
    border-radius:2cm;
    border:#ffffff solid;
    width: auto;
    height: 1cm;
    padding: 20px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
}

.boton:hover{
    background-color: rgb(114, 201, 170);
}