#lienzo{
    border: 1px gray solid;
    padding:0;
    display:block;
    background: url(../recursos/alphabg.png);
    background-size: 5%;
}
#menu_lateral{
    display: flex;
    
    width:100px;
    min-width: 80px;
    padding-top: 5px;
    user-select:none;
    flex-direction: column;
    margin: 5px;
    flex-wrap: wrap;
}
#input_color{
    width: 100%;
}
#menu_botones{
    justify-content: center;
}
.edd{
    display: flex;
    margin: 10px;
}
.editor__botones{
    width: fit-content;
    padding:0;
    margin:auto;
    display: block;
}
#slider{
    width: 90%;
    margin-bottom: 5px;
}
.button{
    width: 50px;
    height: 50px;
}
#editor{
    background: linear-gradient(to bottom, #ffffff,80%, #a8ff92);
    width: 100%;
    height: max-content;
    padding: 100px 0px;
    box-sizing: border-box;
    margin:auto;
}