<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos/base.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos/editor.css')}}">
        <script type="module" src="{{ url_for('static', filename='scripts/dom/Editor.js')}}"></script>
    </head>
    <body>
        <div class="contenedor">
            <div id="editor">
                <div class="editor__botones" id="botones"></div>
                <div class="edd">
                    <div id="menu_lateral">
                        
                        <input id="slider" type="number" value="5" min="1" max="200" step="1">
                        <input type="color" name="" id="input_color">
                        <div id="menu_botones"></div>
                        
                    </div>
                    <canvas id="lienzo">
                </div>
                <div id="selector" class='Voculto ventana'>
                    <button id="cerrarselector">x</button>
                    </br>
                </div>
            </div>
        </div>
        
    </body>
</html>