<!DOCTYPE html>
<html lang="es">
    <head>
        <style id="style">          
            </style>
        <title>IMIA Editor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/estilos/base.css">
        <script type="text/javascript" src="../static/scripts/dom/main.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos/base.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/dom/main.js')}}"></script> -->
    </head>
    <body id="root" onload="load();">
        
    </body>
</html>